h1{
  text-align: center;
  font-size: xx-large;
}

body{
  color:black;
  background-color: #4682B4;
}

table {
  border-collapse: collapse;
  width: 90% 
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.delete {
  background-color: black;
  font-size: 3px;
  padding: 3px;
  color:lightseagreen;
  font-size:medium; 
}

.container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightseagreen;
  font-size: large;
  box-sizing: border-box;
  display: flex;
}

.label{
  color:black;
}

.center{
  margin-left: auto;
  margin-right: auto;
}

#myTable tr:nth-child(even){background-color: lightgray;}

#myTable th{
  background-color: lightskyblue;
  color: black;
}


